footer {
    width: 100%;
    background: linear-gradient(rgba(83,153,170,1) 0%, 
    rgba(64,119,132,1) 50%, rgba(33,61,68,1) 100%);
    
}

#footer-conteiner {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    text-align: center;
}

footer p {
    text-align: center;
    padding: 10px 0;
}

#cta-button-footer{ 
    text-decoration: none;
    color: #000000;
    background-color: #dabc14;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}