@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.darkmode {
  background-color: rgb(45, 43, 43);

  .book-title {
    color: #fff;
  }
  #linha {
    border: 1px solid rgb(255, 255, 255);
  }

    .btn-ebook-1,
    .btn-ebook-2,
    .btn-ebook-3,
    .btn-ebook-4,
    .btn-ebook-5{
        background-color: rgb(255, 255, 255);
        color: #000000;
}
}

#switch-theme {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: none;
  cursor: pointer;
}

#switch-theme img:last-child {
  display: none;
}

.darkmode #switch-theme img:first-child {
  display: none;
}

.darkmode #switch-theme img:last-child {
  display: block;
}

header {
  width: 100%;
  padding: 1rem;
  background: linear-gradient(
    rgba(83, 153, 170, 1) 0%,
    rgba(64, 119, 132, 1) 50%,
    rgba(33, 61, 68, 1) 100%
  );
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

#text-logo a {
  text-decoration: none;
  color: #ffffff;
}
#menu {
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.2rem;
  list-style: none;
}
#menu-item {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
#mobile-btn {
  display: none;
}
#mobile-menu {
  display: none;
}

.book-title {
  padding: 10px;
  padding-left: 50px;
}

.login {
  display: flex;
  position: relative;
  gap: 2rem;
}

#menu-item {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}
.book-box {
  position: relative;
  background-color: rgb(87, 160, 179);
  border-radius: 60px;
  width: 70%;
  height: 35dvh;
  left: 35dvh;
}

.book-bloc-1,
.book-bloc-2,
.book-bloc-3,
.book-bloc-4,
.book-bloc-5,
.book-ebook-1,
.book-ebook-2,
.book-ebook-3,
.book-ebook-4,
.book-ebook-5 {
  position: relative;
  width: 25dvh;
  height: 30dvh;
}

.book-bloc-1 {
  left: 3dvh;
  top: 2.5dvh;
}
.book-bloc-2 {
  left: 5dvh;
  top: 2.5dvh;
}
.book-bloc-3 {
  left: 7dvh;
  top: 2.5dvh;
}
.book-bloc-4 {
  left: 9dvh;
  top: 2.5dvh;
}
.book-bloc-5 {
  left: 11dvh;
  top: 2.5dvh;
}
.book-bloc-1:hover,
.book-bloc-2:hover,
.book-bloc-3:hover,
.book-bloc-4:hover,
.book-bloc-5:hover {
  cursor: pointer;
  border: 2px solid transparent;
}
 
#searchContainer{
  position: relative;
  margin-top: 1dvh;
  margin-bottom: 4dvh;
  left: 10dvh;
}

#search { 
  padding: 8px;
  border: 1px solid rgb(88, 88, 88);
  border-radius: 5dvh;
  font-size: 16px;
  width: 15%; 
}
#lupa {
  position: absolute;
  display: block;
  opacity: 0.3;
  width: 1.5%;
  left: 25dvh;
  top: 0.5dvh;
}

#childrenhome{
  width: 50%;
}
 
#popup {
  position: absolute;
  top: 4dvh;
  width: 15%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  box-shadow: 0 4px 6px rgb(87, 160, 179);
  z-index: 100000;
}

.item {
  padding: 10px;
  cursor: pointer;
}

.item:hover {
  background-color: #f0f0f0;
}



#linha {
  position: relative;
  border: 1px solid black;
  opacity: 0.3;
  width: 100%;
  bottom: 3dvh;
}
.book-ebook-1:hover,
.btn-ebook-1:hover,
.book-ebook-2:hover,
.btn-ebook-2:hover,
.book-ebook-3:hover,
.btn-ebook-3:hover,
.book-ebook-4:hover,
.btn-ebook-4:hover,
.book-ebook-5:hover,
.btn-ebook-5:hover {
  cursor: pointer;
  border: 2px solid transparent;
 
}

.btn-ebook-1:hover,
.btn-ebook-2:hover,
.btn-ebook-3:hover,
.btn-ebook-4:hover,
.btn-ebook-5:hover{
    background-color: rgb(87, 160, 179);
}

.btn-ebook-1,
.btn-ebook-2,
.btn-ebook-3,
.btn-ebook-4,
.btn-ebook-5 {
  position: relative;
  background-color: #000000;
  color: white;
  font-weight: bolder;
  border-radius: 12px;
  width: 18dvh;
  height: 3dvh;
  text-align: center;
}
.books
  .book-ebook-1
  .btn-ebook-1
  .book-ebook-2
  .btn-ebook-2
  .book-ebook-3
  .btn-ebook-3
  .book-ebook-4
  .btn-ebook-4
  .book-ebook-5 {
  position: relative;
  top: 0;
  bottom: 0;
}
.book-ebook-1 {
    top: 0;
}
.btn-ebook-1 {
  left: 3.5dvh;
}

.book-ebook-2 {
  left: 3.1dvh;
}
.btn-ebook-2 {
  left: 13.5dvh;
}

.book-ebook-3 {
  left: 6.4dvh;
}

.btn-ebook-3 {
  left: 23.5dvh;
}

.book-ebook-4 {
  left: 10dvh;
}
.btn-ebook-4 {
  left: 35dvh;
}

.book-ebook-5 {
  left: 13.3dvh;
}
.btn-ebook-5 {
  left: 45dvh;
}
.books {
  position: relative;
  left: 35dvh;
  width: 140dvh;
}
 
.espace{   
  margin-top: 1dvh;
  justify-items: center;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 150vh;
  height: 75vh;
  position: relative;    
}

.carousel-container {
  
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100vh; /* Ajuste automático para 6 imagens (3 originais + 3 duplicadas) */
}

.carousel-item img {
  width: 150vh;
  height: 75vh;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 1%;  
  width: 100%;
}

.indicator {
  width: 50px;
  height: 3px;
  background-color: #fff;
  margin: 1dvh;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: rgb(87, 160, 179); /* Cor do indicador ativo */
}

/* ---------------------------------------------------------------------------------------- */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Faz com que o wrapper ocupe toda a altura da janela */
}

.content {
  flex: 1; /* Empurra o footer para o fundo, se necessário */
}



@media screen and (max-width: 1000px) {
  .login,
  #menu {
    display: none;
  }
  #mobile-btn {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }
  #mobile-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #mobile-menu.active {
    display: flex;
    flex-direction: column;
  }
  #mobile-list {
    list-style: none;
    text-align: center;
  }
  #mobile-list a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    margin: 1rem 0;
  }
}
