
body{
    font-family: "Inter", "Montserrat", sans-serif;
    background: linear-gradient(rgba(83,153,170,1) 0%, 
    rgba(64,119,132,1) 50%, rgba(33,61,68,1) 100%);;
}

#nav-login{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.logo-login{
    display: flex;
    align-items: center;
}

.text-logo-login a{
    text-decoration: none;
    padding-left: 10px ;
    color: rgba(33,61,68);
}


main{
    height: 91vh ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cadastro-conteiner{
    display: flex;
    width: 80%;
    height: 80vh;
    box-shadow: 5px 5px 10px rgba(0,0,0, .212);
}

#conteiner-img-cadastro{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.087);
}

#img-cadastro{
    width: 30rem;
}

form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}

.form-header{
    
    text-align: center;
}

.link-login {
    padding-top: 3rem;
}
.link-login a{
    text-decoration: none;
    margin: 2rem;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin: 1.1rem;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #0000001c;
}

.input-box input:hover{
    background-color: #eeeeee75;
}

.input-box input::placeholder{
    color: #000000be;
}

.input-box label, .gender-group h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.gender-group{
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    
}

.gender-input{
    display: flex;
    align-items: center;
}

.gender-input input{
    margin-left: 5rem;
}

.gender-input label{
    margin-left: 0.5rem;
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.button-login button{
    width: 40vh;
    margin-top: 2.5rem;
    padding: 1rem;
    background-color: rgb(59, 162, 188);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 10px 10px 10px #0000001c;
    border: none;
}

.button-login button:hover{
    background-color: rgb(36, 180, 213);
}

.button-login a{
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
}

@media screen and (max-width:1700px){
    #conteiner-img-cadastro{
        display: none;
    }

    #cadastro-conteiner{
        width: 60%;
    }

    form{
        width: 100%;
    }
}

@media screen and (max-width:1160px){
    #cadastro-conteiner{
        width: 90%;
    }
    .input-group{
        display: flex;
        
        overflow-y: scroll;
        flex-wrap: wrap;
    }

    .gender-input{
        margin-top: 2rem;
    }

    .gender-group{
        flex-direction: column;
    }
}